* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.main {
  display: flex;
  margin: 50px 40px;
  max-width: 944px;

  &__content {
    justify-content: center;
    align-items: center;
    display: grid;

    height: 100vh;
    flex-wrap: wrap;

    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 46px 48px;
  }
}

@media (min-width: 488px) {
  .container__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .container__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .container__content {
    grid-template-columns: repeat(4, 1fr);
  }
}
